.featuredProducts {
  margin: 100px 200px;
}

.featuredTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.featuredTitle {
  flex: 2;
  text-transform: capitalize;
}

.featuredText {
  flex: 3;
  color: var(--color-gray);
}

.featuredBottom {
  display: flex;
  justify-content: center;
  gap: 50px;
}
