.bestSelling {
  margin: 100px 200px;
}

.bestSellingTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}

.bestSellingTitle {
  flex: 2;
  text-transform: capitalize;
}

.bestSellingText {
  flex: 3;
  color: var(--color-gray);
}

.bestSellingBottom {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
