.beInTouch {
  display: flex;
  justify-content: center;
  padding: 16px;

  background-color: var(--color-accent);
  color: var(--color-white);
}

.beInTouchWraper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.beInTouchInput {
  padding: 10px;
  border: none;
  border-radius: 4px 0 0 4px;
}

.beInTouchBtn {
  padding: 10px;
  color: var(--color-white);
  background: var(--color-dark);
  border-radius: 0 5px 5px 0;
  border: none;
  cursor: pointer;
}

.iconList {
  display: flex;
  gap: 12px;
}

.beInTouchIcon {
  cursor: pointer;

  &:hover,
  &:focus {
    color: var(--color-gray);
  }
}
