.navbar {
  height: 80px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
}

.left,
.right {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 18px;
}

.center {
  font-size: 32px;
  letter-spacing: 0.06em;
}

.item {
  display: flex;
  align-items: center;
}
