.footer {
  margin: 100px 200px 20px 200px;
}

.footerTop {
  display: flex;
  gap: 50px;
}
.footerItem {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 8px;

  text-align: justify;
  font-size: 14px;
}

.footerItem h2 {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-dark);
}

.footerItem span {
  color: var(--color-gray);
}

.footerBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.footerLeft {
  display: flex;
  align-items: center;
}

.footerLogo {
  width: 52px;
  height: 40px;
}

.copyright {
  margin-left: 12px;
  font-size: 12px;
  color: var(--color-gray);
}

.footerRight img {
  height: 50px;
}
